{% extends 'base.html' %}

{% block 'main' %}
{% load static %}
<title>About Us - Gamer's Hub</title>
<style>
    #abtbg {
        background-image: url('{% static "assets/images/abtbg.jpg" %}');
    }

    #abtbg2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('{% static "assets/images/abtbg2.jpg" %}');
    }

    p {
        background-color: transparent;
        font-weight: 600;
    }
</style>


<div class="container-fluid mt-5 p-5" id="abtpg">
    <!-- Row 1 -->
    <div class="row" style="color: white;">
        <div class="col-md-6" id="abthd">
            <p>From Concept to Console: </p>
            <p>The Genesis of <br>Gamer's Hub</p>
        </div>
        <div class="col-md-6" id="abtpara">
            <p class="mb-2"><u>OUR STORY</u></p>
            <p id="abtsbhd" class="mb-2">Our journey began with a singular vision - to redefine how gamers engage with
                their passion for gaming. </p>
            <p style="text-align: justify;">Fueled by a deep love for immersive worlds and cutting-edge technology, we
                set out on a mission to curate a collection that caters to the diverse interests and preferences of our
                esteemed gaming community. From our humble beginnings to the dynamic online platform we proudly occupy
                today, each achievement marks a chapter in our narrative. Join us on this adventure into the world of
                gaming, where every product embodies a tale of innovation, dedication, and digital excitement.</p>
        </div>
    </div>
    <br>

    <hr class="double">

    <!-- Row 2 -->
    <div class="row mt-5 pt-3 pb-3">
        <div class="col-md-12 ps-5">
            <p>QUALITY ASSURANCE</p>
        </div>

        <div class="col-md-12 d-flex flex-column align-items-center ps-5 pe-5" id="abthd">
            <p style="font-size: 45px;">We understand that gaming isn't just a hobby; it's an identity. That's why we
                take immense pride in delivering products that exemplify the highest standards of quality.</p>
        </div>

        <div class="col-md-12 mt-3 ps-5 pe-5" id="abtpara">
            <p style="text-align: justify; font-size: 20px;">
                Our pursuit of excellence begins with meticulous sourcing, where we meticulously select components that
                meet our rigorous criteria for performance, reliability, and gaming experience. Every console,
                accessory, and game is crafted with precision, ensuring unparalleled gaming enjoyment with every use.
                But our commitment doesn't stop there - rigorous quality control processes guarantee that each product
                meets our exacting standards before it reaches your gaming sanctuary. Trust in Gamer's Hub for gaming
                gear that not only elevates your gameplay but endures the test of time.
            </p>
        </div>
    </div>
    <br>

    <hr class="double">

    <!-- Row 3 -->
    <div class="row mt-5 p-5" style="color: white;" id="abtbg">
        <div class="col-md-6">

        </div>

        <div class="col-md-6 justify-content-end">
            <div class="col-md-12 ps-5 pe-5 text-end">
                <p style="color: black; font-weight: bold;">CUSTOMER-CENTRIC APPROACH</p>
            </div>

            <div class="row">
                <div class="col-md-12 d-flex flex-column ps-5 pe-5 text-end" id="abthd">
                    <p style="font-size: 45px; color: black; text-transform: capitalize;">We understand that gaming isn't just a hobby;<br> it's an identity.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-3 ps-5 pe-5 text-end" id="abtpara">
                    <p style="text-align: justify; font-size: 20px; color: black;">
                        Our pursuit of excellence begins with meticulous sourcing, where we meticulously select
                        components
                        that meet our rigorous criteria for performance, reliability, and gaming experience. Every
                        console,
                        accessory, and game is crafted with precision, ensuring unparalleled gaming enjoyment with every
                        use. But our commitment doesn't stop there - rigorous quality control processes guarantee that
                        each
                        product meets our exacting standards before it reaches your gaming sanctuary. Trust in Gamer's
                        Hub
                        for gaming gear that not only elevates your gameplay but endures the test of time.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>

    <hr class="double">

    <!-- Row 4 -->
    <div class="row mt-5 pt-5 pb-5">
        <div class="col-md-12 ps-5">
            <p>SUSTAINABILITY INITIATIVES</p>
        </div>

        <div class="col-md-12 d-flex flex-column align-items-start ps-5" id="abthd">
            <p style="font-size: 45px;">Gaming for a Greener Future</p>
        </div>

        <div class="col-md-6 mt-3 d-flex flex-column align-items-start ps-5">
            <p style="font-weight: 400; font-size: 22px; text-align: justify;">We acknowledge the role we play in shaping a more sustainable future for gaming. Our commitment to eco-conscious practices and sustainable gaming choices forms the foundation of our ethos.</p>
        </div>

        <div class="col-md-6 mt-3 d-flex flex-column align-items-end ps-5">
            <p style="text-align: justify; font-size: 18px;">From sourcing environmentally friendly materials to implementing energy-efficient processes, every decision we make is a step towards a greener and more sustainable gaming industry. <br><br> 
            We prioritize transparency in our supply chain, forging partnerships with suppliers who share our values of ethical practices and environmental stewardship. Our sustainable ethos extends to packaging too - we utilize recyclable materials to minimize our ecological footprint. Join us on this quest towards conscious gaming, where innovation meets responsibility, and every purchase contributes to a brighter, eco-friendly tomorrow.</p>
        </div>
    </div>
    <br>

    <hr class="double">

    <!-- Row 5 -->
    <div class="row mt-5 p-5" style="color: white;" id="abtbg2">
        <div class="col-md-6">
            <div class="col-md-12 ps-5 pe-5">
                <p style="color: white; font-weight: bold;">EXPLORE</p>
            </div>

            <div class="row">
                <div class="col-md-12 d-flex flex-column ps-5 pe-5" id="abthd">
                    <p style="font-size: 45px; text-transform: capitalize;">Level Up Your Gaming Experience, Embrace Infinite Possibilities!</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-3 ps-5 pe-5 text-end" id="abtpara">
                    <p style="text-align: justify; font-size: 20px;">
                        Explore our collection today and immerse yourself in the world of gaming. Shop now for the pinnacle of digital entertainment!
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 ps-5 mt-3">
                    <a href="/home"><button class="btn btn-lg btn-light"><b>Shop Now!</b></button></a>
                </div>
            </div>
        </div>
    </div>
    <br>

    <hr class="double">
</div>

{% endblock 'main' %}